<div class="promoBox quickCart"{% if not cart.getCount() %} style="display: none;"{% endif %}>
    <span>Shopping Cart</span> <a href="{{ url('cart_view') }}" class="btn"><i class="fa fa-shopping-cart"></i> <span class="liveCartCount">{{ cart.getCount() }}</span></a>
</div>