<a onclick="return confirm('This will remove all user accounts that have not been confirmed via email.  This is not reversible.  Continue?');" class="btn btn-warning" href="{{ admin.generateUrl('purgeUsers', {'id':'1'}) }}"><i class="fa fa-ban"></i> Purge unconfirmed</a>
