{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    {% set img = vich_uploader_asset(object, 'imageFile') %}
    <a href="{{ asset(img) }}">{{ asset(img) }}</a>
{% endblock %}