{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'SonataAdminBundle:CRUD:base_show.html.twig' %}

{%- block actions -%}
    {% include 'SonataAdminBundle:CRUD:action_buttons.html.twig' %}
{%- endblock -%}

{% block show %}
<div class="sonata-ba-view">
    <h2>A new password has been generated for this user.</h2>
    <h3>The new password is:</h3>
    <blockquote><p><strong>{{ newpass }}</strong></p></blockquote>
    <p>Please provide this password to the user immediately. It will <strong>not</strong> be possible to display this password again.</p>
</div>
{% endblock %}