{% if admin.isGranted('EDIT', object) and admin.hasRoute('generatePassword') %}
    <a data-confirm="This will invalidate the user's current password and issue a password reset email immediately. Do you want to continue?"
       data-success="Password reset has been sent."
       data-fail="Unable to issue password reset at this time."
       href="{{ admin.generateObjectUrl('generatePassword', object) }}"
       class="btn btn-sm btn-warning view_link admin-ajax"
       title="Reset Password">
        <i class="fa fa-key"></i>
        Reset Password
    </a>
{% endif %}
