{% extends '@NSPurearth/Blog/blog.html.twig' %}

{% block body %}
    <h2>Search results for <em>{{ query }}</em></h2>
        {% if posts %}
        {% for id, post in posts %}
            {% include 'NSPurearthBundle:Blog:_list_post.html.twig' with {'post':post} %}
            {% if not loop.last %}
                <hr />
            {% endif %}
        {% endfor %}
        <div class="row">
            <div class="col-xs-6">
                {% if page > 1 %}
                    <p>
                        {% set p = page - 1 %}
                        <a href="?page={{ p }}">&larr; Previous Page</a>
                    </p>
                {% endif %}
            </div>

            {% if page < total_pages %}
                <div class="col-xs-6 blog_next">
                    <p>
                        {% set p = page + 1 %}
                        <a href="?page={{ p }}">Next Page &rarr;</a>
                    </p>
                </div>
            {% endif %}
        </div>
    {% else %}
        <p>Sorry, there were no results for that query.</p>
    {% endif %}
{% endblock %}